
/Мое хранилище/.obsidian/workspace.json
/Мое хранилище/.obsidian/workspace.json
/Мое хранилище/.gitignore
/Мое хранилище/.trash
/Мое хранилище/.trash
/Мое хранилище/.trash/Вопросы от сбер.md
/Мое хранилище/.trash/Планирование дня.canvas
/Мое хранилище/.trash/EverGreen.canvas
/Мое хранилище/.trash/Untitled 5.md
/Мое хранилище/.trash/Untitled 5.md
/Мое хранилище/.trash/EverGreen.canvas